asgiref==3.10.0
boto3==1.42.9
botocore==1.42.9
brotli==1.2.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cssselect2==0.8.0
Django==5.2.7
django-crontab==0.7.1
django-environ==0.12.0
django-storages==1.14.6
fonttools==4.60.1
idna==3.13
jmespath==1.0.1
pillow==12.0.0
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
requests==2.33.1
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.3
tinycss2==1.5.0
tinyhtml5==2.0.0
urllib3==2.6.2
weasyprint==66.0
webencodings==0.5.1
zopfli==0.4.0
