{% if messages %}
  <div class="mb-3">
    {% for message in messages %}
      {% if detail_message_scope in message.tags or "scope:email" in message.tags or "scope:global" in message.tags %}

        {% if message.level_tag == "error" %}
          <div class="alert alert-danger alert-dismissible fade show mb-2" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        {% elif message.level_tag == "debug" %}
          <div class="alert alert-secondary alert-dismissible fade show mb-2" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        {% else %}
          <div class="alert alert-{{ message.level_tag }} alert-dismissible fade show mb-2" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}

      {% endif %}
    {% endfor %}
  </div>
{% endif %}